[user]
	name = Tony Rom
	email = thetonyrom@gmail.com
[core]
	excludesfile = /Users/brick/.gitignore_global
[alias]
  co = checkout
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/brick/.stCommitMsg
